*{
    margin: 0;
    padding: 0;
    box-shadow: none;

}

:root{
    --colorFondo:#334257;
    --colorSeccionPrincipal:#F1F6F9;
    --colorLetras: #ffffff;
    --tercerColor: #476072;
    --cuartoColor: #548CA8;
    --quintoColor: #f9da7b;
}

.cuerpo{
    background: var(--colorFondo);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.cabecera{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    width: unset;
    height: 60%;
    color: var(--colorLetras);
}

.principal{
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.contenedor{
    height: 80%;
    width: 60%;
    padding: 1em;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);    
    border-radius: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista {
    width: 95%;
    height: 95%;
    margin:  0 auto;
    overflow-y: scroll;
    scrollbar-color: black;
}

.tarjeta{
    border-radius: 1em;
    border: solid var(--colorLetras) 2px;
    margin: 0.8em auto;
    height: 15%;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.16);
    background: linear-gradient(0deg, rgba(255,240,138,1) 29%, rgba(255,212,118,1) 100%);
}

.icon{
    width: 10%;
    height: unset;
    text-align: center;

}

.tarjetaDesc{
    text-align: center;
    width: 45%;
    height: unset;
}

.tarjetaTime{
    width: 10%;
    height: unset;
    text-align: center;
}

button{
    width: 10%;
    height: 40%;
}

.botoncito{
    width: 10%;
    height: 8%;
    padding: 5px;
}

.piePagina{
    height: 5%;
}